wwwroot/iCDataGrid/Web References/icDataManager/icdataobject.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="iConsulting.iCMServer" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="iConsulting.iCMServer" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="iConsulting.iCMServer">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWhere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedDataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDataSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsMultiList">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedDataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMultiDataSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmptyDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedDataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmptyDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmptyDataSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedDataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="Refresh" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveDataSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetDataSetSoapIn">
    <part name="parameters" element="s0:GetDataSet" />
  </message>
  <message name="GetDataSetSoapOut">
    <part name="parameters" element="s0:GetDataSetResponse" />
  </message>
  <message name="GetMultiDataSetSoapIn">
    <part name="parameters" element="s0:GetMultiDataSet" />
  </message>
  <message name="GetMultiDataSetSoapOut">
    <part name="parameters" element="s0:GetMultiDataSetResponse" />
  </message>
  <message name="GetEmptyDataSetSoapIn">
    <part name="parameters" element="s0:GetEmptyDataSet" />
  </message>
  <message name="GetEmptyDataSetSoapOut">
    <part name="parameters" element="s0:GetEmptyDataSetResponse" />
  </message>
  <message name="SaveDataSetSoapIn">
    <part name="parameters" element="s0:SaveDataSet" />
  </message>
  <message name="SaveDataSetSoapOut">
    <part name="parameters" element="s0:SaveDataSetResponse" />
  </message>
  <portType name="iCDataObjectSoap">
    <operation name="GetDataSet">
      <documentation>[Namespace::iConsulting.iCMServer][WebService::iCDataManager][Class::iCDataObject][Function::GetDataSet]</documentation>
      <input message="s0:GetDataSetSoapIn" />
      <output message="s0:GetDataSetSoapOut" />
    </operation>
    <operation name="GetMultiDataSet">
      <documentation>[Namespace::iConsulting.iCMServer][WebService::iCDataManager][Class::iCDataObject][Function::GetMultiDataSet]</documentation>
      <input message="s0:GetMultiDataSetSoapIn" />
      <output message="s0:GetMultiDataSetSoapOut" />
    </operation>
    <operation name="GetEmptyDataSet">
      <documentation>[Namespace::iConsulting.iCMServer][WebService::iCDataManager][Class::iCDataObject][Function::GetEmptyDataSet]</documentation>
      <input message="s0:GetEmptyDataSetSoapIn" />
      <output message="s0:GetEmptyDataSetSoapOut" />
    </operation>
    <operation name="SaveDataSet">
      <documentation>[Namespace::iConsulting.iCMServer][WebService::iCDataManager][Class::iCDataObject][Function::SaveDataSet]</documentation>
      <input message="s0:SaveDataSetSoapIn" />
      <output message="s0:SaveDataSetSoapOut" />
    </operation>
  </portType>
  <binding name="iCDataObjectSoap" type="s0:iCDataObjectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetDataSet">
      <soap:operation soapAction="iConsulting.iCMServer/GetDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMultiDataSet">
      <soap:operation soapAction="iConsulting.iCMServer/GetMultiDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEmptyDataSet">
      <soap:operation soapAction="iConsulting.iCMServer/GetEmptyDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SaveDataSet">
      <soap:operation soapAction="iConsulting.iCMServer/SaveDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="iCDataObject">
    <port name="iCDataObjectSoap" binding="s0:iCDataObjectSoap">
      <soap:address location="http://localhost/iCDataManager/icdataobject.asmx" />
    </port>
  </service>
</definitions>